/**
 * demo-importer.scss
 * General ThemeGrill Demo Importer admin styles.
 */

/**
 * Import.
 */
@import 'animation';

/**
 * Styling begins.
 */
.appearance_page_demo-importer {
	.demo-importer {
		.wp-filter {
			padding: 0 20px;

			.filter-links li > a:focus {
				box-shadow: none;
			}
		}

		.theme-browser {
			.theme {
				.premium-demo-banner {
					position: absolute;
					top: 15px;
					right:-16px;
					color: #fff;
					padding: 0 20px;
					font-weight: 600;
					min-height: 30px;
					line-height: 28px;
					background: #5fbd0a;
					text-transform: uppercase;

					&::before,
					&::after {
						content: '';
						position: absolute;
					}

					&::before {
						left: -15px;
						color: #fff;
						border: 15px solid #5fbd0a;
						border-left-color: transparent;
					}

					&::after {
						top: 30px;
						right: 0;
						border: 8px solid #478d07;
						border-right-color: transparent;
						border-bottom-color: transparent;
					}
				}

				.theme-screenshot img {
					object-fit: cover;
				}
			}
		}

		.wp-full-overlay-sidebar-content {
			bottom: 132px;

			* {
				box-sizing: border-box;
			}

			.install-theme-info {
				.premium-demo-tag {
					color: #fff;
					font-size: 13px;
					font-weight: 400;
					margin-left: 5px;
					padding: 0px 10px;
					line-height: 22px;
					border-radius: 3px;
					display: inline-block;
					background: #67c016;
				}

				.theme-screenshot {
					width: 100%;
				}

				.theme-details {
					padding-bottom: 30px;
					border-bottom: 1px solid #ddd;

					.theme-version {
						margin-top: 0;
					}
				}

				.required-plugins {
					padding-top: 10px;

					.plugin-list {
						border: 1px solid #ddd;
						margin-top: 20px;

						li {
							padding: 10px;
							margin-bottom: 0;
							border-bottom: 1px solid #ddd;
							display: flex;
							align-items: center;
							justify-content: space-between;

							&:last-child {
								border-bottom: none;
							}
						}
					}

					.circle-loader {
						width: 24px;
						height: 24px;
						border-radius: 50%;
						position: relative;
						vertical-align: top;
						display: inline-block;
						border: 2px solid #bfbfbf;

						&.circle-loading {
							border-left-color: #5cb85c;
							animation: spin .75s linear infinite;
						}

						&.circle-colored {
							border-color: #5cb85c;

							.checked {
								display: block;
							}
						}

						.checked {
							display: none;

							&::after {
								position: absolute;
								left: 50%;
								top: 50%;
								opacity: 1;
								content: "";
								height: 50%;
								width: 25%;
								transform-origin: left top;
								border-right: 2px solid #5cb85c;
								border-top: 2px solid #5cb85c;
								transform: scaleX(-1) rotate(135deg) translate(-58%, -40%);
							}
						}
					}
				}
			}
		}

		.wp-full-overlay-footer {
			height: 132px;

			.demo-import-actions {
				padding: 20px;
				background: #fff;
				border-bottom: 1px solid #ddd;

				.button {
					width: 100%;
				}
			}
		}
	}
}

table.plugins-list-table {
	margin-bottom: 1em;

	.plugin-status {
		text-align: center;

		span {
			width: 20px;
			height: 20px;
			visibility: hidden;
			vertical-align: top;
			display: inline-block;

			&::before {
				visibility: visible;
				display: inline-block;
				font: normal 20px/1 'dashicons';
				transition: color 0.1s ease-in 0;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		.active {
			&::before {
				color: #7ad03a;
				content: '\f147';
			}
		}

		.install-now,
		.activate-now {
			&::before {
				color: #a00;
				content: '\f153';
			}
		}

		.activate-now {
			&::before {
				content: '\f534';
			}
		}

		.updating-message {
			&::before {
				color: #f56e28;
				content: '\f463';
				animation: rotation 2s infinite linear;
			}
		}
	}

	.plugin-actions {
		.plugins-install,
		.plugins-activate {
			float: right;
			transform: none;
		}

		.plugins-install {
			margin-left: 8px;
		}
	}
}

/**
 * Tooltips
 */
.tips {
	cursor: help;
	text-decoration: none;
}

img.tips {
	padding: 5px 0 0;
}

#tiptip_holder {
	display: none;
	z-index: 8675309;
	position: absolute;
	top: 0;
	/*rtl:ignore*/
	left: 0;

	&.tip_top {
		padding-bottom: 5px;

		#tiptip_arrow_inner {
			margin-top: -7px;
			margin-left: -6px;
			border-top-color: #333;
		}
	}

	&.tip_bottom {
		padding-top: 5px;

		#tiptip_arrow_inner {
			margin-top: -5px;
			margin-left: -6px;
			border-bottom-color: #333;
		}
	}

	&.tip_right {
		padding-left: 5px;

		#tiptip_arrow_inner {
			margin-top: -6px;
			margin-left: -5px;
			border-right-color: #333;
		}
	}

	&.tip_left {
		padding-right: 5px;

		#tiptip_arrow_inner {
			margin-top: -6px;
			margin-left: -7px;
			border-left-color: #333;
		}
	}
}

#tiptip_content {
	color: #fff;
	font-size: 0.8em;
	max-width: 150px;
	background: #333;
	text-align: center;
	border-radius: 3px;
	padding: 0.618em 1em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

	code {
		padding: 1px;
		background: #888;
	}
}

#tiptip_arrow,
#tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

/*rtl:raw:
#tiptip_arrow {
	right: 50%;
	margin-right: -6px;
}
*/
